[user]
	name = kotfu
	email = kotfu@kotfu.net

[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[init]
	defaultBranch = main

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[delta]
	syntax-theme = Monokai Extended
	navigate = true
	light = false

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

	tool = Kaleidoscope
[diff]
	colorMoved = default
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
