[submodule "submodules/commacd"]
	path = submodules/commacd
	url = https://github.com/shyiko/commacd.git
[submodule "submodules/bd"]
	path = submodules/bd
	url = https://github.com/vigneshwaranr/bd.git
[submodule "submodules/rmate-python"]
	path = submodules/rmate-python
	url = https://github.com/sclukey/rmate-python.git
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
